<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="forgotPasswordModal">Esqueceu a password</h1>
        <app-button type="button" [icon]="closeIcon" (btnClick)="dismissModal()"></app-button>
    </div>
    <div class="modal-body">
        <div class="input-group mb-3">
            <div class="form-floating">
                <input type="email" class="form-control" id="forgotPasswordEmailInput" placeholder="Email">
                <label for="forgotPasswordEmailInput">Email</label>
            </div>
        </div>
        <div class="modal-footer">
            <app-button (btnClick)="backModal()" type="button" class="btn-secondary" text="Voltar"></app-button>
            <app-button type="submit" class="btn-primary" text="Recuperar"></app-button>
        </div>
    </div>

</div>