<div class="modal-header">
    <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
    <app-button type="button" [icon]="closeIcon" (btnClick)="dismissModal()"></app-button>
</div>
<div class="modal-body">
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <div class="form-floating">
            <input type="email" class="form-control" id="loginEmailInput" [(ngModel)]="emailInput"
                placeholder="name@example.com">
            <label for="loginEmailInput">Email</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="password" class="form-control form-submit" id="loginPasswordInput" [(ngModel)]="passwordInput"
                placeholder="Password">
            <label for="loginPasswordInput">Password</label>
        </div>
        <span class="input-group-text">
            <fa-icon [icon]="passIcon"></fa-icon>
        </span>
    </div>
    <p>
        <app-button type="button" class="btn-outline-success" (btnClick)="showRegisterModal()" text="Criar nova conta">
        </app-button>
    </p>
    <p>
        <app-button type="button" class="btn-outline-secondary" (btnClick)="showForgotModal()" text="Esqueceu a sua
        password?"></app-button>
    </p>
</div>
<div class="modal-footer">
    <app-button (btnClick)="closeModal()" type="button" class="btn-secondary" text="Close"></app-button>
    <app-button (btnClick)="onLoginClick()" type="submit" class="btn-primary" text="Login"></app-button>
</div>