<div class="modal-header">
    <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <div class="form-floating">
            <input type="email" class="form-control" id="loginEmailInput" placeholder="name@example.com">
            <label for="loginEmailInput">Email</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="password" class="form-control form-submit" id="loginPasswordInput" placeholder="Password">
            <label for="loginPasswordInput">Password</label>
        </div>
        <span class="input-group-text">
            <fa-icon [icon]="passIcon"></fa-icon>
        </span>
    </div>
    <p>
        <button type="button" class="btn btn-outline-success" (click)="showRegisterModal()">Criar nova conta</button>
    </p>
    <p>
        <button type="button" class="btn btn-outline-secondary" (click)="showForgotModal()"> Esqueceu a sua
            password?</button>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close()">Close</button>
    <button type="button" class="btn btn-primary">Login</button>
</div>